﻿@using MWIE.Models.Entity
@model MWIE.Models.ViewModel.ImportDrugViewmodel
@{
    ViewBag.Title = "Manage User";
    Layout = "_Layout";
}
@section CSS
{
    @{await Html.RenderPartialAsync("_StyleTableAndReceiptPatial"); }
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
}
<div id="mess" class="modal-dialog" style="position: fixed; left: 400px; z-index: 1; display: none">    

    <!-- Modal content-->
    <div class="modal-content " >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align: center; color: red">Thông báo!</h4>
        </div>
        <div class="modal-body">
            <p>Hóa đơn của bạn đã được tạo. Mời bạn lập đơn hàng tiếp theo.</p>
        </div>
        <div class="modal-footer">
            <button id="btnmess" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>
<div id="mess2" class="modal-dialog" style="position: fixed; left: 700px; z-index: 1; display: none; width: 150px; border: 2px solid black"> 
</div>
<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Xuất Kho</h1>
                            <div class="sparkline13-outline-icon">
                                <span><a asp-action="" style="color: black"><i class="fa fa-plus-square"></i></a></span>
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <!-- Code vao day -->
                            <div class="container-fluid">
                                <div class="row">
                                    <div id="fmUserProfile" class="col-md-7 receipt-left">
                                        <div class="receipt-left-text">Nhân viên: <span><input id="userName" readonly type="text"></span></div>
                                        <div class="receipt-left-text">Địa chỉ: &emsp; &nbsp;<span><input id="userAddress" readonly type="text"></span></div>
                                        <div class="receipt-left-text">Email: &emsp; &emsp;<span><input id="userEmail" readonly type="text"></span></div>
                                        <div class="receipt-left-text">Giới tính: &emsp;<span><input id="userSex" readonly type="text"></span></div>
                                        <div class="receipt-left-text">Điện thoại: <span><input id="userPhone" readonly type="text"></span></div>
                                    </div>
                                    <div class="col-md-5 receipt-right">
                                        <div class="receipt-right-text" id="red">Số lô: &emsp;&emsp;&emsp;&ensp;<span><input id="idReceipt" type="text" placeholder=" Nhập số lô"></span></div>
                                        <div class="receipt-right-text">Ngày tạo: &emsp; &ensp;<span><input id="dateCreate" type="text"></span></div>
                                        <div class="receipt-right-text">Khách hàng: &ensp;<span><select id="client" style="width: 292px; height: 33px"></select></span></div>
                                        <div class="receipt-right-text">Tổng giá: &emsp; &emsp;<span><input readonly id="totalPrice" type="text"></span></div>
                                        <div class="receipt-right-text" style="display: none">Đã thanh toán: &emsp; &emsp;<span><input id="isPay"  type="checkbox" style="width: 17px;height: 17px" checked></span></div>
                                        <div id="receipt-right-text-button" style="margin-top:29px" class="receipt-right-text"><button style="padding:5px" data-toggle="modal" data-target="#popupCreateReceiptMessage">Tạo hóa đơn</button></div>
                                    </div>
                                </div>
                            </div>
                            <div id="popup-drug" class="modal fade" role="dialog">
                                <div class="modal-dialog" style="width:75%;">    
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 class="modal-title" style="font-size: 25px;font-weight:600">Thêm thuốc vào hóa đơn</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="sparkline13-graph">    
                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                    <div>
                                                        <div style="width: 393px; margin-left: auto; margin-bottom: 10px; color: black"> 
                                                            <a id="">Bạn không tìm thấy thuốc trong kho?<input type="button" id="createDrug" data-toggle="modal" data-target="#addDrug" value="Hãy thêm mới tại đây" style="border: none; background-color: white"/></a>
                                                        </div>
                                                    </div> 
                                                    <table id="table1" class="ui celled table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>Tên thuốc</th>
                                                            <th>Dơn vị</th>
                                                            <th>Giá</th>
                                                            <th>Số lượng</th>
                                                            <th>NSX</th>
                                                            <th>HSD</th>
                                                            <th>Nhóm</th>
                                                            <th>Nhà cung cấp</th>
                                                            <th>ID Nhóm</th>
                                                            <th>ID Nhà cung cấp</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                    </table>
                                                    <div id="messNumber" title="Điều chỉnh số lượng" class="modal-dialog" style="display: none; position: fixed; top: 20%; left: 40%; width: 300px; height: auto; padding: 3px; background-color: #f2f3f9; -ms-border-radius: 3px; border-radius: 3px; border: 1px solid gray; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
                                                        <div style="background-color: rgb(225, 225, 225); padding: 5px"><b></b>
                                                            <span id="close" style="border-radius: 3px; -ms-border-radius: 3px; width: 24px; color: #bb0202; position: absolute; cursor: pointer; right: 7px; top: 8px; background-color: #bdbcbc;">
                                                                X
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add-drug">
                                <input type="button" style="padding:10px" id="btn-popup-drug" data-toggle="modal" data-target="#popup-drug" value="Thêm Thuốc vào hóa đơn"/>
                            </div>
                            <div id="addDrug" class="modal fade" role="dialog">
                                <div class="modal-dialog" style="margin-top: 135px;">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 class="modal-title">Thêm thuốc mới</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row form-group">
                                                        <div class="col-sm-3" style="text-align: left">
                                                            <label class="control-label">Tên thuốc: </label>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <input id="addDrugName" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
        
                                                    <div class="row form-group">
                                                        <div class="col-sm-3" style="text-align: left">
                                                            <label class="control-label">Đơn vị</label>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <input id="addDrugUnit" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-sm-3" style="text-align: left">
                                                            <label class="control-label">Số lượng</label>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <input id="addDrugAmount" type="number" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-sm-3" style="text-align: left">
                                                            <label class="control-label">Đơn giá</label>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <input id="addDrugPrice" type="number" class="form-control" required/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-sm-3" style="text-align: left">
                                                            <label class="control-label">Ngày sản xuất</label>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <input id="addDrugDateOfManufacture" type="date" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-sm-3" style="text-align: left">
                                                            <label class="control-label">Ngày hết hạn</label>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <input id="addDrugExpriryDate" type="date" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-sm-3" style="text-align: left">
                                                            <label class="control-label">Nhà cung cấp</label>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <select id="addDrugProducerId" style="width: 419px; height: 50px" class="form-control form-control"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-sm-3" style="text-align: left">
                                                            <label class="control-label">Nhóm thuốc</label>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div class="form-group">
                                                                <select id="addDrugGroupDrugId" style="width: 419px; height: 50px" class="form-control form-control"></select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group" style="display: none">
                                                        <div class="col-sm-3" style="text-align: left">
                                                            <label class="control-label">Trạng thái</label>
                                                        </div>
                                                        <div class="col-sm-9" style="text-align: center">
                                                            <div class="form-group">
                                                                <input type="checkbox" id="addDrugIsActive" class="form-control" style="width: 31px" checked="true"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button id="addDrugSaveAndClose" type="button" class="btn btn-default" data-dismiss="modal" style="background-color: lightgray;">Lưu và đóng</button>
                                           
                                        </div>
                                    </div>

                                </div>
                            </div>
                       

                        <!-- Modal -->
                        <div id="popupCreateReceiptMessage" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Chú ý!</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Bạn có muốn tạo hóa đơn này không?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="createReceiptImport"  type="button" class="btn btn-default" data-dismiss="modal">Có</button> 
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Không</button> 
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!-- Code vao day -->
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <table id="tableDetail" class="ui celled table" style="width: 98%; margin-left: auto">
                            <thead>
                            <tr>
                                <th>Tên thuốc</th>
                                <th>Đơn giá</th>
                                <th>HSD</th>
                                <th>Nhóm</th>
                                <th>Nhà cung cấp</th>
                                <th>Số lượng nhập</th>
                                <th>Thành tiền</th>
                                <th>Thêm</th>
                            </tr>
                            </thead>
                        </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsAJAX {
    <script src="~/DataTables/datatables.min.js"></script>
    <script src="~/select2/js/select2.min.js"></script>
    <script src="~/js/exportDrug/exportDrug.js"></script>
}
<!-- Static Table End -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ScriptTablePatial"); }
    
}